#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}



.wrongs {
  margin-top: 2em;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.result-container {
  display: flex;
  flex-direction: column;

}



.logo:hover {
  filter: drop-shadow(0 0 2em #646cff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.result-select {
  position: fixed;
  right: 10em;
  top: 20em;

}

.navbar {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #333;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #555;
}

.selectTopic {
  width: 170px;
  height: 190px;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #1100ff2f;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  position: relative;
  top: -50px;
  cursor: pointer;
}

.selectTopic:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.selectRewardLow {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ff00152f;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  position: relative;
  top: -0px;
  cursor: pointer;
}

.reward {
  width: 170px;
  height: 100px;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 4, 255, 0.184);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  position: relative;
  top: -0px;
  cursor: pointer;
}

.invPokemons {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 4, 255, 0.184);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  position: relative;
  top: -0px;
  cursor: pointer;
}

.claimedReward {
  color: black;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 251, 0, 0.822);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  position: relative;
  top: -0px;
  cursor: pointer;
}

.pokeSize {
  width: 120px;
  height: auto;
  image-rendering: pixelated
}



.selectReward {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #3cff002f;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  position: relative;
  top: -0px;
  cursor: pointer;
}

.selectReward.selectedReward {
  border-color: yellow
}

.selectRewardLow.selectedReward {
  border-color: yellow
}



.topics {
  position: relative;
  top: -220px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.animals-container {
  display: flex;
  justify-content: space-around;
}

.animal {
  width: 120px;
  height: 60px;
  border: 1px solid #ccc;
  background-color: rgba(251, 255, 0, 0.274);
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s;
}

.animal:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.hungarian {
  text-align: center;
}

.task {
  width: 1100px;
  height: 150px;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #1100ff2f;
  transition: transform 0.3s;
}

.selected {
  background-color: green;
}

.answer {
  width: 500px;
  height: 60px;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #1100ff2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.correct {
  background-color: #00ff0071;
}

.wrong {
  background-color: #ff00005d;
}

.completed {
  background-color: green;
}

#pokeselect {
  width: 300px;
}

.messages {
  width: 600px;
  height: 40px;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(250, 235, 215, 0.849);
  color: black;
  padding: 0 10px;
}

.close {
  background-color: #ff6666;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 6px;
  font-size: 3px;
}

.close:hover {
  background-color: #cc0000;
}

.messages-container {
  width: 660px;
  height: 150px;
  overflow-y: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}

.inventorybtn {
  position: relative;
  left: 45%;
  margin-right: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inventorybtn:hover {
  background-color: #45a049;
}

.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.register-btn {
  margin-right: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #45a049;
}

.login-link {
  margin-top: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #4caf50;
}

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-btn {
  margin-right: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #45a049;
}

.register-link {
  margin-top: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #4caf50;
}

.intro-text {
  margin-bottom: 20px;
  position: relative;
  bottom: 120px;
  font-size: 25px;
}

.action-button {
  position: relative;
  left: 36%;
  margin-right: 10px;
  padding: 15px;
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #45a049;
}

#btn {
  margin-right: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn:hover {
  background-color: #45a049;
}

.pokeContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.editP {
  font-size: 20px;
  background-color: #45a04900;
}

.editP img {
  width: 150px;
  height: 150px;
  image-rendering: pixelated
}

.txt {
  font-size: 20px;
  position: relative;
  left: 25%;
}

.move {
  position: relative;
  left: 10px;
}

.topicForm {
  margin: 10px;
}

.Preward {
  width: 150px;
  height: 150px;
  image-rendering: pixelated;
  position: relative;
  left: 25%;
}

.nTopic {
  position: absolute;
  transform: translateX(140%);
  top: 70px;
}

.pokeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.poke {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #1100ff2f;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  cursor: pointer;
}

.poke:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.moveIt {
  font-size: 25px;
  position: relative;
  left: 46%;
}

.selectedP {
  background-color: #45a049;
}

.Tname {
  position: relative;
  left: 40%;
  top: -30px;
  font-size: 20px;

}

.txtt {
  font-size: 25px;
  position: relative;
  top: -150px
}

.addingNew {
  text-align: center;
  position: relative;
  bottom: 80px;
}

.pkmn {
  width: 150px;
  height: 150px;
  image-rendering: pixelated;
}

.frm {
  font-size: 20px;
}

.rslt {
  text-align: center;
}

.rsltp {
  position: relative;
  left: 37%;
  width: 150px;
  height: 150px;
  image-rendering: pixelated;
}

.rsltb {
  position: relative;
  left: 17%;
}

.rsltc {
  position: relative;
  left: 37%
}

.middle {
  text-align: center;
}

.cim {
  font-size: 25px;
  position: relative;
  bottom: 250px
}

.msg {
  position: relative;
  top: -100px;
}

.ok {
  position: relative;
  top: 40px;
  right: 220px
}

.selectTopic.gold-bg {
  background-color: gold;
}

.topicsTable {
  position: relative;
  top: 100px;
}